@page
@model IndexModel
@{
    ViewData["Title"] = "CKEditor 4";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <textarea asp-for="ContentText"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<hr />
@Model.ContentText
<hr />
@Html.Raw(Model.ContentText)

@section Scripts{
    <script src="~/js/ckeditor/ckeditor.js"></script>
    @*<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>*@
    <script type="text/javascript">
        var ckeditor;
        $(function() {
            ckeditor = CKEDITOR.replace("ContentText");
        });
    </script>
}